<div class="card">
    <div class="card-body">
        <h3 class="card-title">Register</h3>
        <form action="/register" method="POST" id="registerForm">
            <label for="username">
                Username
            </label>
            <input type="text" name="username" id="username">

            <label for="password">
                password
            </label>
            <input type="password" name="password" id="password">

            <p>Already a member? <a href="/login">Login!</a></p>
            <button type="submit">
                Register
            </button>
        </form>
    </div>
</div>