<div class="card">
    <h1>Board2Death Games</h1>
    <div class="card-body">
        <p>Content Goes here</p>
    </div>
</div>

<div class="card">
    <h2>Meet Your Makers</h2>
    <div class="card-body">
        <p>Video Highlight Playbox</p>
        <p>Hidden BioBox</p>
        <p>List of Staff in scrollable box, each entry will update BioBox and Playbox</p>
    </div>
</div>