<div class="card">
    <div class="card-body">
        <h2>Links to social media</h2>
        <hr>
        <p>Form for Contact</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3>Plug for newsletter subscription</h3>
    </div>
</div>