<div class="card">
    <div class="card-body">
        <h1>Hello World</h1>
        <p>Jumbotron with news/updates will go here</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2>Featured Products</h2>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2>Some Other Content</h2>
    </div>
</div>