<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{settings.siteTitle}}</title>
        {{!-- Styles --}}
        <link rel="stylesheet" href="/css/bootstrap.css"> {{!-- Bootstrap --}}
        <link rel="stylesheet" href="/css/all.min.css"> {{!-- FontAwesome Pro --}}
        <link rel="stylesheet" href="/css/master.css"> {{!-- Main Overrides --}}
        {{!-- Custom Styles --}}
        {{{block "css"}}}
    </head>
    <body>
        {{> navigationMain}}
        <main class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 mx-auto content">
                    {{{body}}}
                </div>
                
            </div>
            
        </main>
        

        {{!-- Scripts --}}
        <script src="/js/jQuery-3.3.1.min.js"></script> {{!-- jQuery --}}
        <script src="/js/bootstrap.bundle.min.js"></script> {{!-- Bootstrap + Popper --}}
        {{!-- Custom Scripts --}}
        {{{block "js"}}}
    </body>
</html>